// Scss Document
/*Base Styles*/
$font: 'Overpass', sans-serif;

/*colors*/
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$border-color: hsl(214, 20%, 25%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);

html{
	font-size: 15px;
	
	body{
		background-color: $very-dark-blue;
		
		main{
			height: 100vh;
			display: flex;
			justify-content: center;
			align-content: center;
			flex-direction: column;
			margin: 0px 20px;
		
	
.front_content-wrapper{
	background-color: $dark-blue;
	border-radius: 5%;
	padding: 20px;
	
	
	picture{
		img{
		border: 2px solid $dark-blue;
		
		border-radius: 50%;
			padding: 10px;
		background-color: $border-color;
			
	}
	}
	
	h1{
		color: $white;
		font-family: $font;
	}
	
	p{
		color: $medium-grey;
		font-familiy: $font;
		
	}
	

.number_rating{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	
	.button_1{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		color: $medium-grey;
		border: none;
		background-color: $border-color;
		}

}
	.submit_button{
		margin: 20px;
		border: 1px solid orange;
		width: 100px;
	}
}
	}
	}
}